{% extends "fin_assist/base.html" %}
{% block content %}
  <div class="container mt-2">
    <p
        class="d-flex flex-column align-items-center justify-content-center bg-secondary"
        style="height: 50px; color: #ffffff"
    >
      <strong>Categories</strong>
    </p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <nav class="navbar">
          <div class="d-flex justify-content-start">
            <form class="d-flex" action="{% url 'fin_assist:pay_categories' %}" method="POST">
              {% csrf_token %}
              <input class="form-control me-2" id="filter_str" type="search" name="filter_str"
                     placeholder="Search" aria-label="Search" value={{ filter_str }}>
              <button class="btn btn-outline-success" type="submit">Refresh</button>
            </form>
          </div>

          <div class='d-flex justify-content-end'>
            <button type="button" class="btn btn-outline-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#EditCategory"
                    data-bs-header="Adding a category"
                    data-bs-cat_id="0"
                    data-bs-cat_name=""
                    data-bs-cat_desc=""
            >
              Add category
            </button>
          </div>
        </nav>

        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.extra_tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}

        <table class="table table-bordered table-striped" id="ContactsTable">
          <thead class="table-dark">
          <tr>
            <th style="width: 10%">Id</th>
            <th style="width: 30%">Name</th>
            <th style="width: 50%">Description</th>
            <th style="width: 10%" colspan="2">Action</th>
          </tr>
          </thead>
          <tbody>
            {% for cat in categories %}
              <tr>
                <td class="text-end">{{ cat.id }}</td>
                <td class="text-start">{{ cat.name }}</td>
                <td class="text-start">{{ cat.description }}</td>
                <td>
                  <button type="button" class="btn btn-outline-primary btn-sm"
                          data-bs-toggle="modal"
                          data-bs-target="#EditCategory"
                          data-bs-header="Editing a category"
                          data-bs-cat_id="{{ cat.id }}"
                          data-bs-cat_name="{{ cat.name }}"
                          data-bs-cat_desc="{{ cat.description }}"
                  >
                    <span class="btn-label"><i class="fa fa-edit"></i></span></button>
                </td>
                <td>
                  <button type="button" class="btn btn-outline-danger btn-sm"
                          data-bs-toggle="modal"
                          data-bs-target="#DeleteCategory"
                          data-bs-header="{{ cat.name }}"
                          data-bs-cat_id="{{ cat.id }}"
                  >
                    <span class="btn-label"><i class="fa fa-trash"></i></span></button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>

  <!-- Modal 1 for updating a category -->
  <div class="modal fade" id="EditCategory" tabindex="-1" aria-labelledby="EditCategoryLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="EditCategoryLabel">Adding a category</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form class="needs-validation" id="form_action_edit" action="{% url 'fin_assist:edit_pay_categories' 0 %}"
              method="POST" novalidate>
          {% csrf_token %}
          <div class="modal-body">
            <div class="form-group">
              <label for="cat_name" class="control-label">
                <span style="font-weight:bold">Name</span>
              </label>
              <input type="text" id="cat_name" class="form-control" name="cat_name" autocomplete="off" required
                     value=""/>
              <div class="invalid-feedback">
                Enter a category name
              </div>
            </div>
            <div class="form-group">
              <label for="cat_desc" class="control-label">
                <span style="font-weight:bold">Description</span>
              </label>
              <input type="text" id="cat_desc" class="form-control" name="cat_desc" autocomplete="off"
                     value=""/>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- end Modal 1 -->

  <!-- Modal 2 for deleting a note -->
  <div class="modal fade" id="DeleteCategory" tabindex="-1" aria-labelledby="basicModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="basicModalLabel">Deleting a category</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label class="col-xs-2 control-label">Do you want to
            <span style="font-weight:bold;color:red">delete</span> a category ?
          </label>
        </div>
        <div class="modal-footer">
          <form id="form_action_delete" action="{% url 'fin_assist:delete_pay_categories' 0 %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal 2-->

  <script>
      const updateCategory = document.getElementById("EditCategory")
      {#alert(updateNote)#}

      updateCategory.addEventListener("show.bs.modal", event => {
          const button = event.relatedTarget

          const catId = button.getAttribute("data-bs-cat_id")
          const formAction = updateCategory.querySelector('#form_action_edit')
          const action_str = "{% url 'fin_assist:edit_pay_categories' 0 %}".slice(0, -1) + catId
          formAction.setAttribute("action", action_str)

          const modalHeader = updateCategory.querySelector(".modal-title")
          modalHeader.textContent = button.getAttribute("data-bs-header")

          const modalName = updateCategory.querySelector("#cat_name")
          modalName.value = button.getAttribute("data-bs-cat_name")

          const modalDesc = updateCategory.querySelector("#cat_desc")
          modalDesc.value = button.getAttribute("data-bs-cat_desc")
      })

      const deleteCategory = document.getElementById("DeleteCategory")
      deleteCategory.addEventListener("show.bs.modal", event => {
          const button = event.relatedTarget

          const catId = button.getAttribute("data-bs-cat_id")
          const formAction = deleteCategory.querySelector('#form_action_delete')
          const action_str = "{% url 'fin_assist:delete_pay_categories' 0 %}".slice(0, -1) + catId
          formAction.setAttribute("action", action_str)

          const modalHeader = deleteCategory.querySelector(".modal-title")
          modalHeader.textContent = button.getAttribute("data-bs-header")
      })

  </script>

  <script>
      (() => {
          'use strict'

          const forms = document.querySelectorAll('.needs-validation')

          Array.from(forms).forEach(form => {
              form.addEventListener('submit', event => {

                  if (!form.checkValidity()) {
                      event.preventDefault()
                      event.stopPropagation()
                  }

                  form.classList.add('was-validated')
              }, false)
          })
      })()
  </script>
{% endblock %}