{% extends "base.html" %}

{% block content %}

  <div class="container">
    <div class="container">
      <h1>{{ title }}</h1>
      <!-- Button trigger modal -->
      <div class='d-flex justify-content-end'>
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#AddNote">
          Add note
        </button>
      </div>

    </div>
    <!-- Modal 1 for adding a note -->
    <div class="modal fade" id="AddNote" tabindex="-1" aria-labelledby="AddNoteLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="AddNoteLabel">Adding a note</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form class="needs-validation" action="/notes/edit/0" method="post" novalidate>
            <div class="modal-body">
              <div class="form-group row">
                <label for="header" class="col-xs-2 control-label">
                  <span style="font-weight:bold">Title</span>
                </label>
                <div class="col-xs-10">
                  <input type="text" id="header" class="form-control" name="header" required
                         value=""/>
                  <div class="invalid-feedback">
                    Enter a note title
                  </div>
                </div>
                <label for="content" class="col-xs-2 control-label">
                  <span style="font-weight:bold">Content</span>
                </label>
                <div class="col-xs-10">
                  <textarea id="content" class="form-control" rows="2" name="content"></textarea>
                </div>
                <label for="tags" class="col-xs-2 control-label">
                  <span style="font-weight:bold">Tags</span>
                </label>
                <div class="col-xs-10">
                  <input type="email" id="tags" class="form-control" name="tags"
                         value=""/>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save changes</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>    <!-- end Modal 1 -->
  </div>
  <div class="container mb-3 mt-2">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <table class="table table-bordered table-striped">
      <thead class="table-dark">
      <tr>
        <th style="width: 5%">Id</th>
        <th style="width: 20%">Title</th>
        <th style="width: 50%">Content</th>
        <th style="width: 25%">Tags</th>
        <th style="width: 0" colspan="2">Action</th>
      </tr>
      </thead>
      <tbody>
      {% for note in notes %}
        <tr>
          <td class="text-end">{{ note["id"] }}</td>
          <td class="text-start">{{ note["header"] }}</td>
          <td class="text-start">{{ note["content"] }}</td>
          <td class="text-start">{{ note["tag_list"] }}</td>
          <td>
            <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                    data-bs-target="#AddNote">
{#                    data-bs-target="#update_note_{{ note["id"] }}">#}
              <span class="btn-label"><i class="fa fa-edit"></i></span></button>
          </td>
          <!-- Modal 2 for updating a note -->
          <div class="modal fade" id="update_note_{{ note["id"] }}" tabindex="-1" aria-labelledby="basicModalLabel"
               aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="basicModalLabel">Updating a note {{ note["id"] }}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="needs-validation" action="/notes/edit/{{ note["id"] }}" method="post" novalidate>
{#                  <form action="/notes/edit/{{ note["id"] }}" method="post">#}
                  <div class="modal-body">
                    <div class="form-group row">
                      <label for="header" class="col-xs-2 control-label">
                        <span style="font-weight:bold">Title</span>
                      </label>
                      <div class="col-xs-10">
                        <input type="text" id="header" class="form-control" name="header" required
                               value="{{ note["header"] }}"/>
                        <div class="invalid-feedback">
                          Enter a note title
                        </div>
                      </div>
                      <label for="content" class="col-xs-2 control-label">
                        <span style="font-weight:bold">Content</span>
                      </label>
                      <div class="col-xs-10">
                        <textarea id="content" class="form-control" rows="2"
                                  name="content">{{ note["content"] }}</textarea>
                      </div>
                      <label for="tags" class="col-xs-2 control-label">
                        <span style="font-weight:bold">Tags</span>
                      </label>
                      <div class="col-xs-10">
                        <input type="text" id="tags" class="form-control" name="tags"
                               value="{{ note["tag_list"] }}"/>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- End Modal 2-->
          <td>
            <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
                    data-bs-target="#delete_note_{{ note['id'] }}">
              <span class="btn-label"><i class="fa fa-trash"></i></span></button>

            <!-- Modal 3 for deleting a note -->
            <div class="modal fade" id="delete_note_{{ note["id"] }}" tabindex="-1" aria-labelledby="basicModalLabel"
                 aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="basicModalLabel">Deleting a note {{ note["id"] }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  {#                  <form action="{{url_for('notes/delete', note_id=row['id'])}}" method="post">#}
                  <div class="modal-body">
                    <label class="col-xs-2 control-label">Do you want to
                      <span style="font-weight:bold;color:red">delete</span> a note ?
                    </label>
                  </div>
                  <div class="modal-footer">
                    <form action="/notes/delete/{{ note["id"] }}" method="post">
                      <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Modal 3-->
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}