{% extends "base.html" %}

{% block content %}

  <div class="container">
    <div class="container">
      <h1>{{ title }}</h1>
      <div class='d-flex justify-content-end'>
        <button type="button" class="btn btn-outline-primary"
                data-bs-toggle="modal"
                data-bs-target="#EditNote"
                data-bs-note_id="0"
                data-bs-header="Adding a note"
                data-bs-note_title=""
                data-bs-note_content=""
                data-bs-note_tags=""
        >
          Add note
        </button>
      </div>

    </div>
    <!-- Modal 1 for updating a note -->
    <div class="modal fade" id="EditNote" tabindex="-1" aria-labelledby="EditNoteLabel" aria-hidden="true"
      data-bs-note_id="0">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="EditNoteLabel">Adding a note</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form class="needs-validation" id="form_action" action="/notes/edit/0" method="post" novalidate>
            <div class="modal-body">
              <div class="form-group row">
                <label for="header" class="col-xs-2 control-label">
                  <span style="font-weight:bold">Title</span>
                </label>
                <div class="col-xs-10">
                  <input type="text" id="header" class="form-control" name="header" required
                         value=""/>
                  <div class="invalid-feedback">
                    Enter a note title
                  </div>
                </div>
                <label for="content" class="col-xs-2 control-label">
                  <span style="font-weight:bold">Content</span>
                </label>
                <div class="col-xs-10">
                  <textarea id="content" class="form-control" rows="2" name="content"></textarea>
                </div>
                <label for="tags" class="col-xs-2 control-label">
                  <span style="font-weight:bold">Tags</span>
                </label>
                <div class="col-xs-10">
                  <input type="text" id="tags" class="form-control" name="tags"
                         value=""/>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save changes</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>    <!-- end Modal 1 -->

    <!-- Modal 2 for deleting a note -->
    <div class="modal fade" id="DeleteNote" tabindex="-1" aria-labelledby="basicModalLabel"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="basicModalLabel">Deleting a note</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label class="col-xs-2 control-label">Do you want to
              <span style="font-weight:bold;color:red">delete</span> a note ?
            </label>
          </div>
          <div class="modal-footer">
            <form id="form_action" action="/notes/delete/0" method="post">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal 2-->

  </div>
  <div class="container mb-3 mt-2">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <table class="table table-bordered table-striped" id="NotesTbl">
      <thead class="table-dark">
      <tr>
        <th style="width: 5%">Id</th>
        <th style="width: 20%">Title</th>
        <th style="width: 50%">Content</th>
        <th style="width: 25%">Tags</th>
        <th style="width: 0" colspan="2">Action</th>
      </tr>
      </thead>
      <tbody>
      {% for note in notes %}
        <tr>
          <td class="text-end">{{ note["id"] }}</td>
          <td class="text-start">{{ note["header"] }}</td>
          <td class="text-start">{{ note["content"] }}</td>
          <td class="text-start">{{ note["tag_list"] }}</td>
          <td>
            <button type="button" class="btn btn-outline-primary btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#EditNote"
                    data-bs-header="Updating a note # {{ note["id"] }}"
                    data-bs-note_id="{{ note["id"] }}"
                    data-bs-note_title="{{ note["header"] }}"
                    data-bs-note_content="{{ note["content"] }}"
                    data-bs-note_tags="{{ note["tag_list"] }}"
            >
              <span class="btn-label"><i class="fa fa-edit"></i></span></button>
          </td>
          <td>
            <button type="button" class="btn btn-outline-danger btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#DeleteNote"
                    data-bs-header="Deleting a note # {{ note["id"] }}"
                    data-bs-note_id="{{ note["id"] }}"
            >
            <span class="btn-label"><i class="fa fa-trash"></i></span></button>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <script>
      const updateNote = document.getElementById("EditNote")

      updateNote.addEventListener("show.bs.modal", event => {
          // Button that triggered the modal
          const button = event.relatedTarget

          const noteId = button.getAttribute("data-bs-note_id")
          const formAction = updateNote.querySelector('#form_action')
          formAction.setAttribute("action", "/notes/edit/" + noteId)

          const formHeader = button.getAttribute("data-bs-header")
          const modalHeader = updateNote.querySelector(".modal-title")
          modalHeader.textContent = formHeader

          const noteTitle = button.getAttribute("data-bs-note_title")
          const modalTitle = updateNote.querySelector("#header")
          modalTitle.value = noteTitle

          modalTitle.classList.remove("is-invalid")
          modalTitle.classList.add("is-valid")

          const noteContent = button.getAttribute("data-bs-note_content")
          const modalContent = updateNote.querySelector("#content")
          modalContent.value = noteContent

          const noteTags = button.getAttribute("data-bs-note_tags")
          const modalTags = updateNote.querySelector("#tags")
          modalTags.value = noteTags
      })

      const deleteNote = document.getElementById("DeleteNote")
      deleteNote.addEventListener("show.bs.modal", event => {
          const button = event.relatedTarget

          const noteId = button.getAttribute("data-bs-note_id")
          const formAction = deleteNote.querySelector('#form_action')
          formAction.setAttribute("action", "/notes/delete/" + noteId)

          const formHeader = button.getAttribute("data-bs-header")
          const modalHeader = deleteNote.querySelector(".modal-title")
          modalHeader.textContent = formHeader
      })
  </script>

  <script>
      (() => {
          'use strict'

          const forms = document.querySelectorAll('.needs-validation')

          Array.from(forms).forEach(form => {
              form.addEventListener('submit', event => {

                  {#if (!form.checkValidity()) {#}
                  if (SomeValidation()) {
                      event.preventDefault()
                      event.stopPropagation()
                  }

                  form.classList.add('was-validated')
              }, false)
          })
      })()

  function SomeValidation(){
      const foo = document.getElementById("header")
      foo.classList.add("is-invalid")
      foo.classList.remove("is-valid")

      return true
  }

  </script>
{% endblock %}